# Introducir estos valores en Environment del AWS.
DB_URL=jdbc:postgresql://HOST_DEL_SESSION_POOLER:5432/postgres?sslmode=require
DB_USER=USUARIO_DEL_SESSION_POOLER
DB_PASSWORD=CONTRASENA_DE_LA_BASE
JWT_SECRET=REEMPLAZAR_POR_32_BYTES_ALEATORIOS_EN_BASE64

ADMIN_ROLE=ADM #Cambiar esto por el valor exacto de perfil_id del admin

# El Dockerfile ya activa prod. Se deja aqui para explicitar el entorno.
SPRING_PROFILES_ACTIVE=prod
MAIL_ENABLED=false

CORS_ALLOWED_ORIGINS= # Esto permite usar Postman y Swagger en el mismo servidor.

